body {
    background-color: hsl(221, 100%, 96%);
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    width: 50%;
    height: 600px;
    color: hsl(221, 100%, 96%);
    text-align: center;
}

.main .result .seventySix, .great {
    color: hsl(0, 0%, 100%);
}

.main .result .yourResult {
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

.main .result .seventySix {
    font-weight: 800;
    font-size: 60px;
}

.main .result .great {
    font-weight: 700;
    font-size: 30px;
}

.summary {
    float: right;
    width: 50%;
    height: 600px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* commenting this out to try flexbox
.main .summary .reaction {
    background-color: hsl(0, 100%, 95%);
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 61%;
    transform: translate(-50%, -50%);
}*/

svg, p {
    display: inline-block;
}