body {
    background-color: hsl(221, 100%, 96%);
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100%;
    display: flexbox;
}

.main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

/* RESULT SECTION */

.main .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    width: 50%;
    height: 600px;
    color: hsl(221, 100%, 96%);
    text-align: center;
}

.main .result .seventySix, .great {
    color: hsl(0, 0%, 100%);
}

.main .result .yourResult {
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

.main .result .seventySix {
    font-weight: 800;
    font-size: 60px;
    white-space: pre-wrap;
}

.main .result .great {
    font-weight: 700;
    font-size: 30px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;*/
    /*white-space: pre-wrap;*/
}

/* LOOK INTO WRAPPING TEXT WITHIN THE CIRCLE...commented test above*/



/* SUMMARY SECTION*/

.summary {
    float: right;
    width: 50%;
    height: 600px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

svg, p {
    display: inline-block;
}

svg {
    padding-right: 10px;
}

.label {
    padding-right: 70px;
}

.colorBox {
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#reaction {
    background-color: hsl(0, 100%, 95%);
}

#r {
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: hsl(39, 100%, 95%);
}

#m {
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsl(166, 100%, 95%);
}

#ve {
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsl(234, 85%, 95%);
}

#vi {
    color: hsl(234, 85%, 45%);
}

.continue {
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}